[Unit]
Description=ProxySQL Status Monitor for Galera CLuster
After=network.target

[Service]
ExecStart=/usr/sbin/proxy-gidra-monitor.pl
KillMode=process
Restart=always
Type=forking

[Install]
WantedBy=multi-user.target
